<?xml version="1.0" encoding="UTF-8"?>
<web-app version="4.0" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd">
    <servlet>
        <servlet-name>fastfoodorder</servlet-name>
        <servlet-class>fastfoodorder</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MainCourseOrder</servlet-name>
        <servlet-class>MainCourseOrder</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DrinkOrder</servlet-name>
        <servlet-class>DrinkOrder</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Fastfood_order</servlet-name>
        <servlet-class>Fastfood_order</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>fastfoodorder</servlet-name>
        <url-pattern>/fastfoodorder</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MainCourseOrder</servlet-name>
        <url-pattern>/MainCourseOrder</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DrinkOrder</servlet-name>
        <url-pattern>/DrinkOrder</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Fastfood_order</servlet-name>
        <url-pattern>/Fastfood_order</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
